.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

dist/
local/
.venv/
espeak-ng-data/

_skbuild/
*.egg-info/

src/piper/train/vits/monotonic_align/core.c
*.so

lightning_logs/

# Mobile build artifacts
mobile/android/.gradle/
mobile/android/build/
mobile/android/piper/build/
mobile/android/.idea/
mobile/android/local.properties
mobile/android/*.iml
mobile/ios/build/
mobile/ios/install/
*.xcframework
*.aar
*.apk
*.aab
*.zip
